server {
  listen   <%= @config.listen_port %>;
  server_name  <%= node['hostname'] %>;

  access_log  /var/log/nginx/<%= @config.name %>/<%= node['hostname'] %>.access.log;
  error_log  /var/log/nginx/<%= @config.name %>/<%= node['hostname'] %>.error.log;

  location / {
    root   <%= @config.root_dir %>/<%= @config.name %>;
    index  index.html index.htm;
  }

  <% unless @config.extra_conf.nil? %>
    <%= @config.extra_conf %>
  <% end %>
}
